extends layout

block content
  .music-banner
    //- .music-banner__logo
    //-   img(src='/images/logo.png')
    .music-banner__content.music-banner__content--now-playing
      p.small Now Playing:
      p
        strong.now-playing.js-now-playing Nothing is playing
    .music-banner__content.music-banner__content--last-playing
      p.small Last Played:
      p
        strong.last-played.js-last-played Nothing was playing
