extends layout

block content
  .spotify-banner
    .spotify-banner__logo
      img(src='/images/logo.png')
    .spotify-banner__content.spotify-banner__content--now-playing
      p Now Playing:
      p
        strong.now-playing Nothing is playing
    .spotify-banner__content.spotify-banner__content--last-playing
      p Last Played:
      p
        strong.last-played Nothing was playing
