body
  margin 0
  font 16px
  font-family 'FS Emeric Book', Helvetica, Arial, sans-serif
  transition opacity .3s ease-in-out
  color #9c9c9c

.music-banner
  padding 1.5em 0

  &:after,
  &:before
    content ''
    display table-cell
  &:after
    clear both

.music-banner__content
  margin-top 2px
  &--now-playing
    display none
  p
    margin 0
    font-size 1.875em
    line-height 1.15
    color #656565
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    &.small
      margin-bottom -3px
      font-size 1.4375em
